/* === GLOBAL === */
@use 'styles/navigation';
@use 'styles/hero';
@use 'styles/about';
@use 'styles/services';
@use 'styles/testimonials';
@use 'styles/contact';

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

section[id] {
  scroll-margin-top: 120px;
}
