<div class="card">
  <p-menubar>
    <ng-template #start>
      <p-button 
        class="burger-btn"
        icon="pi pi-bars" 
        severity="secondary" 
        variant="text" 
        [rounded]="true"
        (click)="toggleSidebar()">
      </p-button>
    </ng-template>
    
    <ng-template #item let-item let-root="root"></ng-template>
    
    <ng-template #end>
      <div class="user-header">        
        <div class="user-info">
          <div class="user-details">
            <span class="user-name">{{ userName }}</span>
            <span class="user-email">{{ email }}</span>
          </div>
          <p-avatar shape="circle" size="large">
            <img [src]="photoUrl" alt="User Photo">
          </p-avatar>
        </div>
        
        <p-button 
          label="Logout"
          icon="pi pi-arrow-right"
          iconPos="right"
          severity="danger"
          [outlined]="true"
          [rounded]="true"
          (click)="onLogoutClick()">
        </p-button>
      </div>
    </ng-template>
  </p-menubar>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>
